/* Alap */

body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #505050;
  height: 4em;
  line-height: 4em;
}

header h1 {
margin: 0;
padding-left: 2em;
}

#nav {
  padding-left: 2em;
 }

#nav ul {
  list-style: none;
}

#nav ul li {
  display: inline-block;
}

section {
  padding: 1em 2em;
  background-color: rgb(200, 200, 200);
  border: solid white;
}

.foto-container img {
width: 38%;
margin: 5%;
}
 
.tulajdonsagok {
  display: inline-block;
  width: 28%;
  margin-right: 1%;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  height: 5em;
  line-height: 5em;
  font-size: 2em;
  border-radius: 3px;
  border: solid white 1px;
  box-shadow: black 3px;
}

/* Munkáim */

#munka article {
  border-bottom: solid 2px white;
  margin-bottom: 2em;
}

#munka article img {
  width: 25%;
  margin-right: 2%;
}

#munka article .munkaim {
  width: 70%;
  display: inline-block;
  vertical-align: top;
 }

 /* Galéria */

 .galeria img {
width: 29%;
margin: 1%;
 }

 /* Mobil nézet */
 @media screen and (min width: 577px) and (max-width: 768px) {
  .tulajdonsagok {
    width: 100%;
  }
  .galeria img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
     }
}
 /* Tablet nézet */
@media screen and (max-width: 576px) {
  .tulajdonsagok {
    width: 100%;
  }
  .galeria img {
    width: 47%;
    margin-left: 0;
    margin-right: 0;
     }
}

