html {
   
   
}

body {
    display: table;
    max-width:1200px;
    width:auto;
    margin:0 auto;  
   }

h1 {
text-align: left;
}

#banner {
  max-width: auto;
  max-height: 200px;
  position: fixed;
}

#nav {

}

#nav2 {

}

#footer {
  
}